/*=====================about=========================*/
/*===================================================*/
#insta_about{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 800px;
    
  }
#insta_title{
  display: block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 10px;
}
#insta_title h1{
  display: none;
}
#insta_photo{
  display: none;
  margin: 0 auto 30px;
  text-align: center;
}
#insta_my{
  margin:auto;
  width: 320px;
  height: 320px;
}
#insta_my img{
  max-height: 100%;
  max-width: 100%;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10%;
}

.insta_info{
  width: 100%;
  height: 100%;
  padding: 5px;
}
.insta_info h2{
  height: 100%;
}
.insta_info a{
  vertical-align: top;
  text-decoration: none;
}
.following{
  display: inline-block;
  text-align: center;
  background: rgb(0, 154, 254);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  width: 150px;
  height: 30px;
  cursor: pointer;
  padding-top: 2px;
  text-decoration: none;
}


/*about_info*/
#about_info{
  display: inline-block;
  padding-top: 10px;
  padding-left: 30px;
  height: 100%;
}
#about_info p{
  max-height: 264px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nickname{
  display: inline-block; 
  height:100%;
  padding-right: 15px;
}

.hidden{
    display: none;
}
.font3{
    margin-top: 10px;
}
span.font3{
    margin-right: 5px;
}
.SNS_items{
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 10px;
    text-align: center;
}
.SNS_items hr{
    display: none;
}
.SNS_items li{
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
.SNS_items li i{
  cursor: pointer;
}
.SNS_items li span{
  display: none;
}
.middle_bar{
  display: none;
}
#vision_info{
    display: inline-block;
    max-width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
}
/* resume modal */
.resume_modal_title{
  margin-bottom: 20px;
}
.resume_modal_title .coloring{
  margin-left: 10px;
}

#resume_modal_page figure .single-page-content .left{
  position: fixed;
  width: 35%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  border-right: 1px dashed rgba(255, 255, 255, 0.1);
  z-index: 1070;
}

#resume_modal_page figure .single-page-content .left .left_inner{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  padding: 50px 10px 0px 20px;
}
.coloring{
  color:orange;
}
.profile{
  width: 100%;
  text-align: center;
}

.profile .profile_img{
  margin: 0px auto 25px auto;
}

.profile .profile_img img{
  border-radius: 50%;
  padding: 0px 25px 0px 25px;
}

.left_inner .profile .short{
  width: 100%;
  overflow: hidden;
}
.short h3{
  margin-bottom: 10px;
}
.short{
  margin-bottom: 35px;
}
.short .position{
  font-size: 15px;
  font-weight: 400;
}
.short .developer{
  margin-left: 10px;
}
.short_info{
  margin: 0px;
  width: 100%;
}
.short_info ul{
  margin: 0;
  list-style-type: none;
}
.short_info ul li{
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.short_info .short_info_list{
  padding: 5px;
  vertical-align: baseline;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  text-align: left;
  vertical-align: middle;
}
.short_info_list i{
  font-size: 16px;
  margin: 0;
  color: coral;
  vertical-align: middle;
}
.short_info_list span a{
  font-size: 13px;
  margin-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}
#resume_modal_page figure .single-page-content .right{
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  width: 65%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
}


@media(max-width: 870px)
{
  #resume_modal_page figure .single-page-content .right{
    position: relative;
    padding: 0;
    width: 100%;
  }

  #resume_modal_page figure .single-page-content .right .right_inner{
    position: relative;
    width: 100%;
    padding: 0;
  }

  #resume_modal_page figure .single-page-content .left{
    position: relative;
    width: 100%;
  }
  
  .short_info{
    margin-bottom: 50px;
  }
}

/*about responsive*/
@media(max-width: 768px)
{
  .page-title{
    display: none;
  }
  #insta_about{
    padding:0;
    height: 100%;
    border: 3px solid gray;
  }
  #insta_title{
    display: block;
  }
  #insta_title img{

  }
  #insta_title h1{
    display: inline-block;
    font-size: 30px;
    margin: 10px;
    height: 100%;
    float: left;
  }
  #insta_photo{
    display: block;
    margin: 0 auto 30px;
  }
  #insta_photo img{
    margin: 0 auto;
  }
  .middle_bar{
    display: block;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
  }
  #insta_my{
    float: left;
    display: inline-block;
    margin: 5px;
    padding: 0px;
    width: 50px;
    height: 50px;
  }
  #insta_title .following{
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin: 10px;
    height: 40px;
    padding: 5px;
  }
  #insta_my img{
    border-radius: 50%;
  }
  #insta_photo img{
    border-radius: 10%;
  }
  .middle_bar{
    width: 100%;
  }
  .middle_bar i{
    cursor: pointer;
    color: black;
    vertical-align: middle;
    font-size: 40px;
    margin: 15px;
  }
  .middle_bar a:hover{
    background: transparent;
  }
  #about_info{
    padding-top: 10px;
    padding-left: 15px;
  }
  .insta_info .nickname{
    display: none;
  }
  .name_position{
    display: none;
  }
  .following{
    position: fixed;
    top: 135px;
    left: 220px;
  }
  
  #vision_info{
    padding-top: 20px;
    margin-top: 20px;
  }

  .SNS_items{
    text-align: center;
    display: none;
  }
  .SNS_items hr{
    display: block;
  }
  .SNS_items li{
    display: inline-block;
    font-size: 40px;
    margin : 30px;
  }
}
